* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: monospace;
    color: black;
    background-color: white;
  }
  
  a {
    color: black;
  }
  a,
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  ul {
    list-style-type: "- ";
  }
  .dark-mode {
    background-color: black;
    color: white;
  }
  .content {
    margin: 20px auto;
    max-width: 50%;
  }
  .section {
    margin: 0 0 10px 0;
  }
  .section__header {
    font-weight: bold;
    display: flex;
  }
  .header__left,
  .header__center,
  .header__right {
    flex: 1 1;
    font-size: 18px;
  }
  .header__center {
    text-align: center;
  }
  .header__right {
    text-align: right;
  }
  .man__title {
    font-weight: bold;
    font-size: 18px;
  }
  .man__section {
    margin: 0 0 20px 20px;
    font-size: 16px;
  }
  .flag {
    display: flex;
  }
  .flag__inner {
    flex: 1 1 100%;
  }
  .flag__dash {
    flex: 0 0 0;
    padding-right: 1px;
  }
  .flag__dash,
  .flag__header {
    font-weight: bold;
  }
  .flag__header {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .flag__section {
    margin: 0 0 20px 0;
    font-size: 16px;
  }


/*************  Button **********/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



  @media only screen and (max-width: 600px) {
    .content {
      max-width: 90%;
    }
}