* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: monospace;
    color: black;
  }
  a {
    color: black;
  }
  a,
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  ul {
    list-style-type: "- ";
  }
  .content {
    margin: 20px auto;
    max-width: 750px;
  }
  .section {
    margin: 0 0 10px 0;
  }
  .section__header {
    font-weight: bold;
    display: flex;
  }
  .header__left,
  .header__center,
  .header__right {
    flex: 1 1;
    font-size: 15px;
  }
  .header__center {
    text-align: center;
  }
  .header__right {
    text-align: right;
  }
  .man__title {
    font-weight: bold;
    font-size: 15px;
  }
  .man__section {
    margin: 0 0 20px 20px;
  }
  .flag {
    display: flex;
  }
  .flag__inner {
    flex: 1 1 100%;
  }
  .flag__dash {
    flex: 0 0 0;
    padding-right: 1px;
  }
  .flag__dash,
  .flag__header {
    font-weight: bold;
  }
  .flag__header {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .flag__section {
    margin: 0 0 20px 0;
  }

  @media only screen and (max-width: 600px) {
    .content {
      max-width: 90%;
    }
}